// Placeholder color
@mixin placeholder-color($color) {
  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Get material design icon
@mixin mdi-icon($name) {
  align-items: center;
  display: flex;  
  &:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: mdi($name);
    font-size: 1.1rem;
  }
}

@mixin mdi-icon-after($name) {
  align-items: center;
  display: flex;  
  &:after {
    font: normal normal normal 24px/1 "Material Design Icons";
    content: mdi($name);
    font-size: 1.1rem;
  }
}