// 1. Global
// ---------

$body-font-family: 'Source Sans Pro', sans-serif;
$mdi-font-path: "/static/app/fonts";

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// 3. Colors
// ---------

$primary-color: #5841ad;
$secondary-color: #eecb66;
$green: #81C784;
$red: #ff8a80;
$grey: #7e7e7e;
$grey-dark: #565657;
$black: #23292c;
$fucsia: #f06292;
$yellow: #ffd54f;
$purple: #9575cd;
$orange: #FB8C55;
$white: #fff;
$cool-grey: #b1b4b8;
$cool-blue: #29B6F6;
$blue-dark: #515ABA;
$pale-grey: #f4f2f8;
$pale-grey-two: #c0cdd4;
$border-color: rgba($cool-grey, .35);
$shadow-color: rgba($cool-grey, .4);



