/**
 * FADE
 */

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}

/**
 * SLIDE
 */

.slide-enter {
  transform: translate3d(0, -100%, 0);
}

.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease-out;
}

.slide-exit {
  transform: translate3d(0, 0, 0);
}

.slide-exit-active {
  transform: translate3d(0, -50%, 0);
  transition: transform 100ms ease-in;
}

.slide-exit-done {
  display: none;
}

/**
 * SLIDE RIGHT
 */

.slide-right-enter {
  transform: translate3d(100%, 0, 0);
  visibility: visible;
}

.slide-right-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease;
}

.slide-right-exit {
  transform: translate3d(0, 0, 0);
}

.slide-right-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: transform 250ms ease-out;
}

/**
 * BOUNCE
 */

.bounce-enter {
  transform: translate3d(0, -10px, 0);
}

.bounce-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease;
}

.bounce-enter-done {
  transform: translate3d(0, 0, 0);
  transition: transform 250ms ease;
}

.bounce-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.bounce-exit-active {
  opacity: 0;
  transition: transform 250ms ease;
}
