.module {
	@include breakpoint(large up) {
		margin: 1rem auto 2rem;
	}

	&__header {
		@extend %border-radius-custom;
		background-color: $white;
		border: 1px solid $border-color;
		padding: 1rem 0;
		text-align: center;

		h2,
		p {
			margin: 0;
		}

		h2 {
			margin-bottom: 0.2rem;
			font-weight: 500;
			font-size: 1.15rem;
		}

		p {
			font-weight: 300;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		margin-top: 0.6rem;

		@include breakpoint(large up) {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@import './components/Frame/index';
@import './components/Multimedia/index';
@import './components/Activities/index';
@import './components/Comments/index';
