{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'landing/ico/favicon.ico' %}">

    <title>Bachillerato desde casa.</title>

    <!-- CSS Plugins -->
    <!-- CSS Global -->

  </head>
  <body>
    <section id="App"></section>
    <script src=" {% static 'app/js/bachillerato.js' %} "></script>
  </body>
</html>
