.date-field {
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: .5rem .7rem;
  cursor: pointer;
  outline: none;
  position: relative;

  span {
    font-size: .95rem;
    margin-left: .25rem;
  }

  .mdi-calendar {
    font-size: 1.2rem;
  }

  .mdi-chevron-down {
    position: absolute;
    right: .4rem;
    top: .6rem;
  }

  &__wrap {
    .rc-calendar-selected-date {
      .rc-calendar-date {
        background-color: $primary-color;
      }
    }

    .rc-calendar-today-btn  {
      color: $primary-color;
    }
  }
}