.students {
	h2 {
		font-size: 1.7rem;
		margin: 2rem 0;
		text-align: center;
		font-weight: 500;
	}

	&__container {
		@extend %box-shadow;
		background-color: $white;
		max-width: 700px;
		margin: 0 auto;
	}

	&__header {
		border-bottom: 1px solid rgba($border-color, 0.2);
		padding: 1.2rem;
	}

	&__search {
		padding-left: 1.5rem;
		padding-right: 1.2rem;
		margin-top: 1rem;

		.searcher-select__menu-list {
			display: none;
		}
	}

	&__table {
		padding: 0 1.2rem 1.2rem;

		.table__row {
			display: grid;
			grid-template-columns: 5fr 3fr 1fr;

			td.table__cell {
				justify-content: flex-start;
			}

			td.table__cell:last-child {
				justify-content: center;
			}
		}

		i {
			color: $cool-grey;
			cursor: pointer;

			&:hover {
				color: $primary-color;
			}
		}
	}

	&__progress {
		width: 100%;
	}
}
