{% load static from staticfiles %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
            font-size: 16px;
        }
        .date{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <h5 style="font-size: 18px;">Cotizaci&oacute;n de Apartamento {{apartment}}</h5>

            <h4>Informaci&oacute;n del estudiante</h4>

            <p>Nombre <span style="float: right;">{{student_full_name}}</span></p>
            <p>Identidad: <span style="float: right;">{{student.identity}}</span></p>
            <p>Lugar de expedicion: <span style="float: right;">{{student.expedition_place}}</span></p>
            <p>Grado: <span style="float: right;">{{certificate.course}}</span></p>
            <p>Ciclo: <span style="float: right;">{{certificate.get_cycle_display}}</span></p>
            <p>Semestre: <span style="float: right;">{{semester_simple}}</span></p>
            <p>Año: <span style="float: right;">{{year}}</span></p>

            {% for k,v in subjects.items %}
              <p>MATERIA: {{k}} - INTENSIDAD HORARIA: {{v.hours}} - DESEMPEÑO: {{v.performance}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
