{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/landing/ico/favicon.ico">

    <title>LCTRS. | Contacts</title>

    <!-- CSS Plugins -->
		<link href="{% static 'landing/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" type="text/css">

    <!-- CSS Global -->
    <!--build:css static/landing/css/theme.min.css-->
    <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">
    <!--endbuild-->

  </head>
  <body id="contact__page">

    <!-- Navbar
    ================================================== -->
    {% include "components/navbar.html" %}

    <!-- CONTENT
      ================================================== -->

		<!-- section home -->
   	<section class="section__home">
      <div class="container home__body">
        <div class="row">
          <div class="col-sm-12">
            <div class="home__content">

              <!-- Heading -->
              <h1 class="home__heading">
                Contáctanos.
              </h1>

              <!-- Breadcrumbs -->
              <ol class="breadcrumb">
							  <li><a href="index.html">Home</a></li>
							  <li class="active">Contácto</li>
							</ol>

            </div> <!-- / .home__content -->
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

      <!-- Background image -->
      <div class="home__bg"></div>
    </section>

    <section class="section__get-in-touch">
    	<div class="container">
    	  <div class="row">
    	    <div class="col-sm-12">
						<div class="section_title__body">
    	    		<div class="section__subtitle dark__subtitle">
	    					Escríbenos un <span>mensaje</span>
	    				</div>
	    				<h2 class="section__title dark__title">
	    					Ponte en contacto.
	    				</h2>
	    				<p class="section_title__desc">
	    					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores a atque, esse delectus. Vel quas voluptate atque natus laboriosam, vero molestiae repudiandae eaque veniam repellendus nemo unde suscipit ducimus tenetur.
	    				</p> <!-- / .section_title__desc -->
    	    	</div> <!-- / .section_title__body  -->
    	    </div>
    	  </div> <!-- / .row -->
    	  <div class="row">
    	    <div class="col-sm-6">

    	  		<!-- Alert message -->
						<div class="alert" id="form_message" role="alert"></div>

						<!-- Form -->
						<form id="form_sendemail">

						  <!-- Email -->
						  <div class="form-group">
						    <label for="email" class="sr-only">Email address</label>
						    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email address">
						    <span class="help-block"></span>
						  </div>

						  <!-- Name -->
						  <div class="form-group">
						    <label for="name" class="sr-only">Name</label>
						    <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name">
						    <span class="help-block"></span>
						  </div>

						  <!-- Message -->
						  <div class="form-group">
						    <label for="message" class="sr-only">Message</label>
						    <textarea name="message" class="form-control" id="message" rows="6" placeholder="Enter your message"></textarea>
						    <span class="help-block"></span>
						  </div>

						  <!-- Note -->
						  <div class="form-group">
						    <small class="text-muted">
						      * All fields are mandatory.
						    </small>
						  </div>

						  <!-- Submit -->
						  <button type="submit" class="btn btn-block btn-accent">
						    Send Message
						  </button>

						</form>

    	    </div>
    	    <div class="col-sm-6">
    	    	<div class="contact_info__body">
    	    		<div class="contact_info__item">
    	    			<div class="contact__title">
    	    				Write us<span>.</span>
    	    			</div>
								<div class="contact__info">
									<div class="contact_info__wrapper">
										<h3>Head office</h3>
										<p>hello@lctrs.com</p>
									</div>
									<div class="contact_info__wrapper">
										<h3>Support</h3>
										<p>support@lctrs.com</p>
									</div>
								</div> <!-- / .contact__info -->
    	    		</div> <!-- / .contact_info__item -->
    	    		<div class="contact_info__item">
    	    			<div class="contact__title">
    	    				Call us<span>.</span>
    	    			</div>
								<div class="contact__info">
									<div class="contact_info__wrapper">
										<h3>Head office</h3>
										<p>+ 0242 456 45 45</p>
									</div>
									<div class="contact_info__wrapper">
										<h3>Support</h3>
										<p>+ 0242 789 98 98</p>
									</div>
								</div> <!-- / .contact__info -->
    	    		</div> <!-- / .contact_info__item -->
    	    		<div class="contact_info__item">
    	    			<div class="contact__title">
    	    				Visit us<span>.</span>
    	    			</div>
								<div class="contact__info">
									<div class="contact_info__wrapper">
										<h3>Head office</h3>
										<p>78 Lorem St, New York, NY</p>
									</div>
								</div> <!-- / .contact__info -->
    	    		</div> <!-- / .contact_info__item -->
    	    	</div> <!-- / .contact_info__body -->
    	    </div>
    	  </div> <!-- / .row -->
    	</div> <!-- / .container -->
    </section>

    <!-- section contact -->
    <section class="section__location">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section_title__body">
              <div class="section__subtitle dark__subtitle">
                Encuéntranos en el <span>mapa</span>
              </div>
              <h2 class="section__title dark__title">
                Ubicación.
              </h2>
              <p class="section_title__desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores a atque, esse delectus. Vel quas voluptate atque natus laboriosam, vero molestiae repudiandae eaque veniam repellendus nemo unde suscipit ducimus tenetur.
              </p> <!-- / .section_title__desc -->
            </div> <!-- / .section_title__body  -->
          </div>
        </div> <!-- / .row -->
        <div id="map"></div>
      </div> <!-- / .container -->
    </section>

		<!-- section footer -->
    <footer class="section__footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-4">
              <div class="footer_title__body">
                <h2 class="footer__title">
                  LCTRS<span>.</span>
                </h2>
                <div class="footer__subtitle">
                  Education template
                </div>
                <ul class="footer__social">
                  <li><a href=""><i class="ion-social-twitter"></i></a></li>
                  <li><a href=""><i class="ion-social-facebook"></i></a></li>
                  <li><a href=""><i class="ion-social-youtube"></i></a></li>
                  <li><a href=""><i class="ion-social-instagram-outline"></i></a></li>
                  <li><a href=""><i class="ion-social-whatsapp-outline"></i></a></li>
                </ul>
              </div> <!-- / .footer_title__body -->
            </div>
            <div class="col-md-3 col-sm-4">
              <ul class="footer-links__list">
                <li><a href="about.html"><i class="ion-ios-arrow-forward"></i> Soporte / FAQ</a></li>
                <li><a href="courses.html"><i class="ion-ios-arrow-forward"></i> Términos & Condiciones</a></li>
                <li><a href="blog.html"><i class="ion-ios-arrow-forward"></i> Politicas de privacidad</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="newsletter__body">
                <p class="newsletter__subtitle">Subscríbte a nuestro newsletter para recibir noticias.</p>

                <!-- Newsletter form -->
                <form class="footer__form">
                  <div class="form-group">
                    <label for="footer_newsletter__email" class="sr-only">E-mail address</label>
                    <input type="email" class="form-control" id="footer_newsletter__email" placeholder="Ingresa tu correo">
                  </div>
                  <a href="#" class="btn btn-newsletter"><i class="ion-android-arrow-forward"></i></a>
                </form> <!-- .newsletter__form -->
              </div> <!-- / .newsletter__body -->
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </footer> <!-- .section__footer -->

      <!-- section footer copyright -->
      <div class="footer__copyright">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
              <ul class="quick__links">
                <li>| <a href="index.html">Home</a> |</li>
                <li><a href="blog-grid.html">Blog</a> |</li>
                <li><a href="contact.html">Contáctanos</a> |</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-6 col-md-pull-6">
              <div class="copyright__content">
                <p>BACHILLERATO. &#169; Todos los derechos reservados 2018.</p>
              </div>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .footer__copyright -->

    <!-- JS Global -->
    <script src="{% static 'landing/js/plugins/jquery/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'landing/js/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins -->
    <script src="{% static 'landing/js/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'landing/js/plugins/lightbox/dist/js/lightbox.min.js' %}"></script>
		<script src="{% static 'landing/js/plugins/contact/contact.js' %}"></script>

		<script src="{% static 'landing/js/plugins/aos-master/dist/aos.js' %}"></script>
    <script src="{% static 'landing/js/plugins/smothscroll/smoothscroll.js' %}"></script>

    <!-- JS Custom -->
    <!--build:js landing/js/theme.min.js -->
    <script src="{% static 'landing/js/index.js' %}"></script>
    <!-- endbuild -->
		<script src="{% static 'landing/js/google_maps.js' %}"></script>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTGnDWmYKPhKslCvPfkrcZDpgT_QMHT0s&callback=initMap" async defer></script>

  </body>
</html>