.frame {
  @extend %box-shadow;
  background-color: #fff;
  border-radius: 2px;

  &__header {
    @extend %border-radius-custom;
    background-color: $primary-color;
    color: $white;
    padding: .7rem;
    font-size: .9rem;
  }
}