.course {
  @extend %box-shadow;
  background-color: #fff;
  border-radius: 2px;
  padding: .7rem 1.5rem;
  height: 580px;
  position: relative;

  &__row {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    border-bottom: 1px solid $border-color;
    padding: .5rem 0;
  }

  &__row:nth-child(7) {
    border-bottom: 0;
  }

  &__header-title {
    @extend %truncate;
    color: $grey-dark;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__header-note {
    font-weight: 600;
  }

  &__module-number {
    border: 1px solid $primary-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: $primary-color;
    justify-content: center;
    height: 28px;
    margin-right: .4rem;
    width: 28px
  }

  &__module-title {
    @extend %truncate;
    max-width: 260px;
    color: $grey-dark;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__module-note {
    font-size: .94rem;
  }

  &__progress {
    text-align: right;
    font-size: .9rem;
  }

  &__footer {
    border-top: 1px solid $border-color;
    position: absolute;
    padding: 1rem 0;
    margin-top: 1.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;

    .rc-pagination {
      margin: 1rem 0 0;
    }

    .button {
      margin: 0 auto;
      width: 200px;
    }
  }
}