.exam {
	margin-top: 1rem;

	&__container {
		background-color: $white;
		border: 1px solid $border-color;
		border-radius: 1rem;
		box-shadow: 1px 1px 8px $shadow-color;
		padding: 1rem;
		max-width: 700px;
		margin: 0 auto;

		@include breakpoint(large up) {
			max-height: 85vh;
			padding: 1rem 1.7rem;
			margin-top: 2rem;
		}
	}

	&__content {
	}

	&__header {
		margin-bottom: 1.2rem;

		.button {
			background-color: $secondary-color;
			cursor: auto;
			width: 150px;
		}
	}

	&__title {
		h5 {
			font-size: 1.1rem;
			margin: 0;
		}
	}

	&__answer-content {
		@include breakpoint(large up) {
			margin-top: 0;
		}

		p {
			margin: 0 0 1.2rem 0;
		}
	}

	&__answer-item {
		cursor: pointer;
		display: flex;
		min-height: 60px;
		margin-bottom: 0.7rem;

		span {
			background-color: $primary-color;
			color: $white;
			min-height: 60px;
			display: flex;
			align-items: center;
			flex-shrink: 0;
			justify-content: center;
			border-radius: 7px 0 0 0;
			width: 40px;
		}

		p {
			margin: 0;
			padding: 0.5rem;
			border: 1px solid rgba($border-color, 0.3);
			width: 100%;
		}
	}

	&__answer-item--active {
		p {
			border-color: $primary-color;
		}
	}

	&__paginate {
		text-align: center;
		position: relative;

		.rc-pagination {
			margin: 0;
		}

		.button {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 180px;
		}
	}

	&__submit {
		margin: 2rem 0 0;
		text-align: right;
	}

	&__results {
		text-align: center;

		i {
			font-size: 1.7rem;
		}

		p {
			margin-top: 0;
		}

		h5 {
			margin: 1rem 0;
			font-size: 1.2rem;
		}
	}
}
