.relationship {
	&__header {
		padding: 0.5rem 0;
		border-bottom: 1px solid rgba($border-color, 0.25);
		height: 70px;
	}

	&__body {
		padding: 1rem;

		p {
			font-size: 0.95rem;
			margin-top: 0.4rem;
			margin-bottom: 1.7rem;
		}
	}

	&__button {
		padding: 0 1rem;
		padding-bottom: 1.5rem;
		text-align: center;
	}
}

.answers-list {
	padding-left: 1rem;
	height: 100%;
	width: 100%;

	.content-element {
		margin-right: 2rem;
	}
}

.content-row {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	align-items: center;
	margin-bottom: 1.5rem;
}

.content-card {
	border: 1px solid $border-color;
	border-radius: 2rem;
	padding: 0 1rem;
	min-height: 50px;
	justify-content: center;
}

.content-element {
	img {
		height: 50px;
		max-width: 50px;
	}

	div {
		max-width: 100px;
	}
}

.arrow-row {
	position: relative;
	text-align: center;

	span {
		display: block;
		background-color: $border-color;
		height: 1px;
		width: 95%;
	}

	.mdi-chevron-right {
		color: $pale-grey-two;
		position: absolute;
		right: 0;
		top: -0.55rem;
	}

	.mdi-close-circle,
	.mdi-check-circle {
		display: block;
		margin-top: -0.55rem;
	}

	.mdi-close-circle {
		color: $red;
	}

	.mdi-check-circle {
		color: $green;
	}
}
