.user-navbar {
	background-color: #fff;
	border-bottom: 1px solid $border-color;
	padding: 1.5rem 1rem 0;

	@include breakpoint(medium up) {
		padding: 0 1rem;

		.wrap-container {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	}

	&__courses {
		width: 100%;

		@include breakpoint(medium up) {
			width: 200px;
		}
	}

	&__menu {
		margin: 0;
		margin-left: auto;
		justify-content: space-between;
		@extend %normalize-list;

		li {
			margin: 1rem 0;
			a {
				display: flex;
				flex-direction: column;
				text-align: center;
				text-decoration: none;
				font-size: 0.95rem;
				padding: 0.4rem 1rem;
				color: rgba($grey, 0.9);

				@include breakpoint(medium up) {
					border-left: 1px solid $border-color;
					padding: 0.8rem 1rem;
					width: 120px;
				}

				i {
					font-size: 1.5rem;
				}
			}

			a:hover {
				color: $primary-color;
			}
		}

		li:last-child {
			a {
				@include breakpoint(medium up) {
					padding-right: 1rem;
					border-right: 1px solid $border-color;
				}
			}
		}
	}
}
