.notification {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 0px 15px $shadow-color;
  width: 250px;
  position: absolute;
  top: 2.5rem;
  z-index: 10;

  &::after {
		content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $white;
    position: absolute;
    top: -8px;
    left: 1rem;
	}

  ul {
    @extend %normalize-list;
  }

  &__item {
    padding: .75rem 0;
    margin: 0 .7rem;

    i {
      color: $cool-grey;
      font-size: 1.2rem;
    }
  }

  &__item-info {
    border-left: 1px solid rgba($border-color, .2);
    font-weight: 300;
    padding-left: .65rem;
    margin-left: .3rem;

    p {
      margin: 0 0 .1rem;
    }

    span {
      font-size: .85rem;
      color: $cool-grey;
    }
  }
}