div.select-field {
  &__control {
    border: 1px solid $border-color;
    background-color: $white;
  }
}

div.select-field__control {

}

div.select-field__placeholder {
  font-size: .9rem;
}

div.select-field__menu-list {
  top: 0;
}

div.select-field__single-value {
  color: inherit;
}

div.select-field__control--is-focused,
div.select-field__control--is-focused:hover {
  border-color: $primary-color;
}

div.select-field__option--is-focused {
  background-color: rgba($primary-color, .2);
  color: rgba($primary-color, 8);
}

div.select-field__option--is-selected {
  background-color: rgba($primary-color, .9);
  color: #fff;
}