.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($black, .4);
  z-index: 200;
}
