.activity {
	.frame__header {
		text-align: center;
		position: relative;
	}

	&__goBack {
		color: $white;
		cursor: pointer;
		font-size: 0.9rem;
		margin: 0.5rem 1rem 0;
		position: absolute;
		top: 0.15rem;
		left: 0;
		width: 70px;

		i {
			font-size: 0.95rem;
		}
	}

	&__footer {
		padding: 1rem 0.5rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;

		@include breakpoint(large up) {
			grid-template-columns: 2fr 1fr;
			padding-left: 1rem;
			grid-gap: 2rem;
		}

		.button {
			width: 100%;
		}
	}

	&-progress {
		font-size: 0.95rem;
	}
}

@import './ActivityList/index';
@import './Selection/index';
@import './Dictation/index';
@import './Relationship/index';
@import './Area/index';
