.activity-list {
  margin-top: .1rem;
  ul {
    @extend %normalize-list;
  }

  &__item {
    display: grid;
    grid-template-columns: 60px 1fr 50px;
    align-items: center;
    border-bottom: 1px solid $border-color;
  }

  &__item-status {
    background-color: $primary-color;
    height: 100%;
    width: 100%;

    i {
      color: rgba($secondary-color, .25);
      font-size: 1.7rem;
    }
  }

  &__item-status--done {
    i {
      color: rgba($secondary-color, 1);
    }
  }

  &__item-title {
    cursor: pointer;
    margin-left: .5rem;
  }

  &__item-score {
    background-color: $secondary-color;
    border-radius: 2rem;
    text-align: center;
    font-size: .9rem;
    margin-right: .5rem;
    padding: .2rem 0;
  }
}
