.multimedia {
	width: 100%;

	.player {
		iframe {
			width: 100%;
			height: 250px;

			@include breakpoint(large up) {
				height: 335px;
			}
		}
	}

	&__material {
		padding: 1rem;

		h5 {
			font-weight: 500;
			font-size: 1rem;
			margin: 0 0 1rem 0;
		}
	}

	&__material-list {
		padding-left: 0.5rem;
	}

	&__material-item {
		cursor: pointer;
		margin-bottom: 0.4rem;

		&:hover {
			color: $primary-color;
		}

		> i {
			font-size: 1.3rem;
			margin-right: 0.2rem;
		}

		> div {
			font-size: 0.87rem;
			font-weight: 300;
		}
	}

	&__material-item--active {
		color: $primary-color;
	}

	&__text {
		padding: 0 1.2rem;
		max-height: 450px;
		overflow-y: auto;
	}

	&__audio {
		padding: 2rem;

		.react-audio-player {
			width: 100%;
		}
	}
}
