.messages {
	background-color: $white;
	border-radius: 0.4rem;
	margin-top: 2rem;
	width: 600px;

	&__header {
		border-bottom: 1px solid rgba($border-color, 0.2);
		padding: 1rem;

		h4 {
			margin: 0;
			font-weight: 500;
			font-size: 1.05rem;
		}

		.mdi-chevron-left {
			font-size: 1.3rem;
		}
	}

	&__header-actions {
		i {
			margin-left: 0.7rem;
		}
	}

	&__header-current-user {
		img {
			border-radius: 50%;
			margin-right: 0.4rem;
			width: 40px;
		}
	}

	&__body {
		height: 500px;
	}

	&__chats {
		max-height: 500px;
		overflow-y: auto;
	}

	&__search-input {
		padding: 1rem;
	}

	&__search-list {
		max-height: 430px;
		overflow-y: auto;
	}

	&__chat {
		height: 100%;
		display: grid;
		grid-template-rows: 1fr 70px;
	}

	&__chat-body {
		padding: 1rem;
		display: block;
		overflow-y: auto;
	}

	&__chat-composer {
		background-color: rgba($primary-color, 0.4);
		border-top: 1px solid $border-color;
		box-shadow: 0 -1px 10px $shadow-color;
		display: grid;
		grid-template-columns: 1fr 130px;
		grid-column-gap: 1rem;
		padding: 0.5rem 1rem;

		.input-field {
			margin-bottom: 0;

			textarea {
				border: 1px solid rgba($primary-color, 0.45);
				border-radius: 15px;
			}
		}
	}
}

@import './UserRow/index';
@import './UserMessage/index';
