/**
 * PLACEHOLDERS
 */

%normalize-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%label-style {
  color: rgba($cool-grey, .8);
  font-weight: 500;
  font-size: .94rem;
  display: block;
  padding-bottom: .2rem;
}

%border-radius-custom {
  border-radius: 7px 7px 0 0;
}

%box-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
