/**
 * VARIOUS
 */

.action-hover {
  color: rgba($cool-grey, .9);
  cursor: pointer;

  &:hover {
    color: rgba($grey, .8);
  }
}

.round-border {
  border: 1px solid $border-color;
  border-radius: 50%;
}
