.text-area {
  textarea {
    @include placeholder-color(rgba($cool-grey, .75));
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $grey;
    padding: .5rem .7rem;
    outline: none;
    width: 100%;

    &:focus {
      border-color: $cool-grey;
    }
  }
}