.complete {
  margin-top: 2rem;

  h2 {
    text-align: center;
  }

  &__fields {
    max-width: 500px;
    margin: 1rem auto;

    .button {
      margin-top: 1.5rem;
      width: 150px;
    }
  }
}
