.referrals {
  display: grid;
  margin-top: 2rem;

  @include breakpoint(large up) {
    grid-template-columns: 500px 1fr;
    grid-gap: 2rem;
  }

  &__image {
    img {
      max-width: 100%;
    }
  }
}

.referrals-info {
  &__my,
  &__about,
  &__table {
    @extend %box-shadow;
    background-color: $white;
    padding: 1rem;
    margin-bottom: 1rem;

    h5 {
      margin-top: 0;
      margin-bottom: .7rem;
      text-align: center;
    }
  }

  &__my,
  &__table {
    h5 {
      font-size: 1.1rem;
      font-weight: 500
    }

    .table__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      td.table__cell {
        justify-content: flex-start;
      }
    }
  }

  &__about {
    h5 {
      font-size: 1.4rem;
    }

    hr {
      border-color: rgba($border-color, .1);
      margin: 1.5rem 0;
    }

    p {
      font-weight: 300;
      line-height: 1.4rem;
    }
  }

  &__number-round {
    background-color: $primary-color;
    color: $white;
    border-radius: 2rem;
    padding: .25rem .7rem;
    font-weight: 500;
  }
}
