.profile {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;

	@include breakpoint(large up) {
		grid-template-columns: 350px 1fr;
	}
}

.profile-short-info {
	@extend %box-shadow;
	background-color: $white;
	height: 270px;

	&__header {
		background-color: rgba($primary-color, 0.5);
		color: $white;
		height: 140px;

		> div {
			text-align: center;
		}

		img {
			border-radius: 50%;
			height: 45px;
			width: 45px;
		}
	}

	&__edit {
		color: $white;
		cursor: pointer;
		font-size: 0.85rem;
		margin-top: 0.4rem;

		&:hover {
			color: $primary-color;
		}

		i {
			font-size: 0.8rem;
		}

		input {
			display: none;
		}
	}

	&__extra {
		padding: 1rem 2rem;

		p {
			text-align: center;
			font-size: 0.9rem;
			font-weight: 300;
		}
	}

	&__more {
		font-size: 0.95rem;
		font-weight: 300;

		> div {
			margin-right: 1rem;
		}

		i {
			margin-right: 0.15rem;
			margin-bottom: -0.15rem;
		}
	}
}

.profile-info {
	@extend %box-shadow;
	background-color: $white;
	padding: 1rem 1.5rem;

	&__tab {
		border-bottom: 1px solid rgba($border-color, 0.2);
		font-size: 0.95rem;
	}

	&__tab-item {
		cursor: pointer;
		margin-right: 1.4rem;
		padding: 0 0.4rem 0.4rem;
	}

	&__tab-item--active {
		border-bottom: 2px solid $primary-color;
	}

	&__main {
		padding: 1.5rem 0;
	}
}

@import './components/UserProfile/index';
@import './components/UserActivity/index';
@import './components/Payments/index';
