.user-activity {

  &__item {
    border-bottom: 1px solid rgba($border-color, .2);
    padding: .4rem 0;

    img {
      border-radius: 50%;
      width: 40px;
    }
  }

  &__item-info {
    margin-left: 1rem;
  }

  &__item-name {
    margin-bottom: .2rem;
    font-size: .95rem;

    span {
      color: $cool-grey;
      font-weight: 300;
      font-size: .87rem;
      margin-left: .2rem;
    }
  }

  &__item-description {
    p {
      font-size: .95rem;
      font-weight: 300;
      margin: 0;
    }
  }
}