.button {
	border: 0;
	font-size: 0.85rem;
	font-weight: 500;
	background-color: $primary-color;
	border-radius: 18px;
	color: $white;
	cursor: pointer;
	height: 35px;
	outline: none;
	padding: 0 0.8rem;
	min-width: 120px;
}

.button--disabled {
	opacity: 0.3;
	cursor: auto;
}

.button--secondary {
	border: 1px solid $primary-color;
	color: $primary-color;
	background-color: $white;
}
