.profile-info-user {
  &__data-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid rgba($border-color, .1);
    padding-bottom: 1.5rem;
  }

  &__data-item {
    font-size: .9rem;
    border-left: 1px solid rgba($border-color, .2);
    padding-left: .5rem;

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }

    label {
      font-weight: 500;
    }

    div {
      font-weight: 300;
    }
  }

  &__description {
    font-size: .95rem;
    font-weight: 300;
  }

  &__advanced {
    h5 {
      font-size: 1rem;
    }

    ul {
      @extend %normalize-list;
    }

    li {
      margin-bottom: .7rem;
      position: relative;
    }

    span {
      font-size: .9rem;
      color: $cool-grey;
      position: absolute;
      right: 0;
      top: .2rem;
    }
  }
}
