.header {
	background-color: #fff;
	border-bottom: 1px solid $border-color;
	display: grid;
	grid-template-columns: 70px 1fr 180px;
	align-items: center;
	padding: 0 1rem;
	width: 100%;

	@include breakpoint(medium up) {
		grid-template-columns: 230px 1fr 200px;
	}

	.logo {
		padding: 0.5rem 0;
		border-right: 1px solid $border-color;

		a {
			text-decoration: none;
		}

		img {
			width: 60px;
		}

		span {
			color: $primary-color;
			margin-left: 0.3rem;
			font-size: 1.2rem;
		}
	}

	&__comunication {
		padding-left: 1rem;

		@include breakpoint(large up) {
			padding-left: 2rem;
		}

		> li {
			@extend %normalize-list;
			cursor: pointer;
			font-size: 0.9rem;
			position: relative;
			margin-right: 0.5rem;

			@include breakpoint(large up) {
				margin-right: 1.5rem;
			}

			a {
				color: inherit;
				text-decoration: none;
			}

			i {
				font-size: 1.3rem;
				margin-right: 0.15rem;
			}

			> &:hover {
				color: $primary-color;
			}
		}
	}

	&__user {
		@include mdi-icon-after('arrow-down-drop-circle');
		cursor: pointer;
		justify-self: end;
		height: 100%;
		padding-left: 1rem;
		border-left: 1px solid $border-color;
		position: relative;

		img {
			border-radius: 50%;
			margin-right: 0.4rem;
			width: 40px;
			height: 40px;

			@include breakpoint(medium up) {
				width: 42px;
			}
		}

		&:after {
			margin-left: 0.4rem;
		}
	}

	&__user-menu {
		box-shadow: 0 0 6px $shadow-color;
		background-color: $white;
		padding: 1rem;
		position: absolute;
		min-height: 90px;
		top: 4.5rem;
		right: 1rem;
		width: 200px;
		z-index: 100;

		ul {
			@extend %normalize-list;
		}

		li {
			cursor: pointer;
			margin-bottom: 1rem;

			&:hover {
				color: $primary-color;
			}
		}

		li:last-child {
			margin-bottom: 0;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

@import './components/Notification/index';
