// Core
@import 'core/scss/_index.scss';

// Components
@import 'core/components/Header/_index.scss';
@import 'core/components/Messages/_index.scss';
@import 'core/components/InputField/_index.scss';
@import 'core/components/Button/_index.scss';
@import 'core/components/Pagination/_index.scss';
@import 'core/components/Table/_index.scss';
@import 'core/components/Answer/_index.scss';
@import 'core/components/Searcher/_index.scss';
@import 'core/components/Modal/_index.scss';
@import 'core/components/Loading/_index.scss';
@import 'core/components/NoData/_index.scss';

// Pages
@import './pages/courses/_index.scss';
@import './pages/module/_index.scss';
@import './pages/exam/_index.scss';
@import './pages/profile/_index.scss';
@import './pages/tasks/_index.scss';
@import './pages/messages/_index.scss';
@import './pages/referrals/_index.scss';
@import './pages/students/_index.scss';
@import './pages/complete/_index.scss';

body {
	background-color: $pale-grey;
	color: $grey;
	font-size: 16px;
	font-family: $body-font-family, sans-serif;
}
