{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}
  <link href="{% static 'landing/css/plugins/ionicons.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">
{% endblock %}

{% block content %}
  <section class="login">
    <section class="login-brand">
      <div class="login-brand__overlay"></div>
      <div class="login-brand__container">
          <h3>"LA MEJOR EMPRESA EDUCADORA DEL 2017"</h3>
          <p>Somos líderes en la educación formal en Colombia.</p>
          <button class="btn btn-primary">Regístrarme</button>
      </div>
    </section>

    <section class="login-body">
      <div class="login-body__container">
        <!-- TODO: Aclarar el render de esta porción:
          1. Cómo accedo al html del snippet de los providers?
          2. Es necesario renderizar todo el html comentado?
        -->

        {% get_providers as socialaccount_providers %}
        {% include "socialaccount/snippets/login_extra.html" %}

      <div class="login-logo">
        <img src="{{ static }}/static/landing/img/logo.png" alt="Logo">
      </div>

       <form class="signin__form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <!-- Email -->
          <div class="form-group">
            <label for="sign-in__email" class="sr-only">Usuario</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="ion-android-person"></i></span>
              <input type="email" name="login" class="form-control" id="sign-in__email" placeholder="Usuario" required>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="sign-in__password" class="sr-only">Contraseña</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="ion-locked"></i></span>
              <input type="password" name="password" class="form-control" id="sign-in__password" placeholder="Contraseña" required>
            </div>
          </div>
          <div class="signin__form-options">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Recuérdame
              </label>
            </div>

            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Olvidaste tu contraseña?" %}</a>
          </div>

          {{ form.errors }}

          <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </form>

        {% include "components/social.html" %}

        <!-- Sign Up link -->
        <hr>
        <p class="sign-in__create-account">No te has registrado? <a href="/">Crea una cuenta.</a></p>
      </div>


    </section>
  </section>
{% endblock %}

