{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block extra_head %}

  <!-- Search Engines -->
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <link rel="canonical" href="">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image:src" content="">

  <!-- Facebook Open Graph -->
  <meta property="og:site_name" content="Bachillerato">
  <meta property="og:url" content="https://bachillerato.co">
  <meta property="og:type" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="fb:app_id" content="">
  <meta property="fb:admins" content="">

  <!-- Google + -->
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="">

  <title>Bachillerato desde casa</title>

  <!-- CSS Plugins -->
  <link href="{% static 'landing/css/plugins/lightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'landing/css/plugins/ionicons.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'landing/css/plugins/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/css/plugins/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'landing/css/plugins/aos.css' %}">
  <link rel="stylesheet" href="{% static 'landing/css/plugins/datepicker.css' %}">

  <!-- CSS Global -->
  <!--build:css {{static}}/static/landing/css/theme.min.css-->

  <link rel="stylesheet" href="{% static 'landing/css/index.css' %}">
  <!--endbuild-->

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5XQ3B7R');</script>
  <!-- End Google Tag Manager -->

  {% endblock %}

  {% block head_title %}{% trans "Signup" %}{% endblock %}

  {% block content %}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XQ3B7R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Back to top button
  ================================================== -->
  <a id="back-to-top" href="#section__home" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <i class="ion-android-arrow-up"></i>
  </a>

  <!-- PRELOADER
  ================================================== -->
  <div id="loader-wrapper">
    <div id="loader"></div>
  </div>

  <!-- Buy modal -->
  {% include "components/navbar.html" %}

  <!-- CONTENT
  ================================================== -->

  <!-- Buy modal -->
  {% include "components/buy_modal.html" %}

  <!-- section home -->
  {% include "allauth/account/includes/home_section.html" %}

  <!-- section method -->
  {% include "allauth/account/includes/method_section.html" %}

  <!-- section benefits -->
  {% include "allauth/account/includes/benefits_section.html" %}

  <!-- section process -->
  {% include "allauth/account/includes/process_section.html" %}

  <!-- section courses -->
  {% include "allauth/account/includes/courses_section.html" %}

  <!-- section stats -->
  {% include "allauth/account/includes/stats_section.html" %}

  <!-- section testimonials -->
  {% include "allauth/account/includes/testimonials_section.html" %}

  <!-- section teachers -->
  {% include "allauth/account/includes/teachers_section.html" %}


  <!-- section pricing -->
  {% include "allauth/account/includes/pricing_section.html" %}

  <!-- section partners -->
  {% include "allauth/account/includes/partners_section.html" %}

  <!-- section footer -->
  {% include "components/footer.html" %}

  <!-- JS Global -->
  <script src="{% static 'landing/js/plugins/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'landing/js/plugins/bootstrap.min.js' %}"></script>

  <!-- JS Plugins -->
  <script src="{% static 'landing/js/plugins/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'landing/js/plugins/lightbox.min.js' %}"></script>
  <script src="{% static 'landing/js/plugins/owl.carousel.min.js' %}"></script>
  <script src="{% static 'landing/js/plugins/jquery.countTo.js' %}"></script>
  <script src="{% static 'landing/js/plugins/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'landing/js/plugins/aos.js' %}"></script>
  <script src="{% static 'landing/js/plugins/contact.js' %}"></script>
  <script src="{% static 'landing/js/plugins/smoothscroll.js' %}"></script>
  <script src="{% static 'landing/js/plugins/datepicker.js' %}"></script>
  <script src="{% static 'landing/js/plugins/datepicker.lang.js' %}"></script>

  <!-- JS Custom -->
  <script src="{% static 'landing/js/index.js' %}"></script>
  <script src="{% static 'landing/js/google_maps.js' %}"></script>

  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTGnDWmYKPhKslCvPfkrcZDpgT_QMHT0s&callback=initMap" async defer></script>

{% endblock %}
