.area {
	padding: 1.2rem;

	p {
		margin-top: 0;
	}

	&__answer {
		font-weight: 300;

		.mdi-check-circle-outline {
			color: $green;
		}

		.mdi-close-circle-outline {
			color: $red;
		}
	}

	&__image {
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;

		.tooltip-map {
			position: absolute;
			z-index: 100;
			width: 25px;
			background: orange;
			height: 25px;
		}
	}
}
