.courses {
	margin-top: 2rem;
	margin-bottom: 2rem;

	&__info-message {
		background: rgba($primary-color, 0.2);
		border: 1px solid rgba($primary-color, 0.1);
		border-radius: 2px;
		color: $primary-color;
		width: 90%;
		margin: 0 auto;
		padding: 0 1rem;
		text-align: center;

		@include breakpoint(large up) {
			width: 70%;
		}

		p {
			@include mdi-icon('information');
			color: rgba($primary-color, 0.85);
			margin: 0.65rem 0;

			&:before {
				font-size: 1.5rem;
				margin-right: 0.3rem;
				align-self: flex-start;
			}
		}

		> i {
			cursor: pointer;
		}
	}

	&__exam-message {
		margin: 1.5rem 0 1rem;
		text-align: center;
		font-size: 0.92rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
		grid-gap: 1rem 2rem;
		margin-top: 1rem;

		@include breakpoint(large up) {
			grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
			margin-top: 2rem;
		}
	}
}

.requirements {
	background-color: $white;
	margin-top: 25vh;
	width: 420px;

	&__header {
		border-bottom: 1px solid $border-color;
		padding: 1rem;

		h5 {
			margin: 0;
			font-size: 1.1rem;
			font-weight: 500;

			i {
				font-size: 0.9rem;
				margin-left: 0.1rem;
			}
		}
	}

	&__list {
		@extend %normalize-list;
		font-weight: 300;
		padding: 1rem 1rem 1.5rem;

		li {
			padding: 0.5rem 0;

			i {
				margin-right: 0.15rem;
				font-size: 1.2rem;
			}

			.mdi-alert-circle-outline {
				color: $cool-grey;
				margin-bottom: -0.1rem;
			}

			.mdi-check {
				color: $green;
			}
		}
	}
}

.logo {
	img {
		width: 70px;
	}
}

@import './components/Navbar/_index.scss';
@import './components/Course/_index.scss';
