.answer {
	border: 1px solid $border-color;
	border-radius: 2px;
	font-size: 0.95rem;
	cursor: pointer;
	margin-bottom: 0.6rem;

	&__icon {
		background-color: rgba($cool-grey, 0.5);
		width: 35px;
		height: 35px;

		i {
			display: none;
		}
	}

	&__icon--correct {
		background-color: $green;

		i {
			color: $white;
			display: block;
		}
	}

	&__icon--correct-incorrect {
		background-color: $green;

		i {
			display: none;
		}
	}

	&__icon--incorrect {
		background-color: $red;

		i {
			color: $white;
			display: block;
		}
	}

	&--disabled {
		cursor: default;
	}

	&--selected {
		border-color: $primary-color;
		color: $primary-color;

		.selection-activity__answer-icon {
			background-color: $primary-color;
			border-right: 1px solid $primary-color;
		}
	}

	&__text {
		margin-left: 0.5rem;

		p {
			margin: 0;
		}
	}
}
