.comments {
  margin-top: 1rem;

  .frame__header {
    text-align: center;
  }

  &__container {
    padding: 1rem 1.5rem;
  }

  &__comment-input {
    margin-bottom: 1rem;
    text-align: right;

    .button {
      margin-top: .5rem;
    }
  }

  &__comment {
    border-left: 2px solid $border-color;
    margin-left: 1rem;
    margin-bottom: 1rem;

    .comments__comment-input,
    .comments__comment-respond {
      margin-left: 1.7rem;
    }

    .comments__comment-respond {
      cursor: pointer;
      font-size: .85rem;
      margin-top: .2rem;
      margin-bottom: .7rem;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__comment-user {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    margin-left: -1.4rem;

    img {
      align-self: start;
      border-radius: 50%;
      width: 40px;
    }
  }

  &__comment-user-info {
    font-size: .94rem;

    span {
      font-weight: 500;
    }
    p {
      margin: 0;
      font-weight: 300;
    }
  }

  &__comment-row {
    border-bottom: 1px solid rgba($border-color, .1);
    padding-bottom: 1rem;
  }

  &__comment-date {
    color: $cool-grey;
    font-size: .82rem;
    font-weight: 300;
  }

  &__comment-answers {
    margin-top: 1rem;
    margin-left: 3rem;
  }

  &__comment-answer {
    margin-bottom: 1rem;
  }

  &__comment-answer-see {
    color: $primary-color;
    cursor: pointer;
    font-size: .9rem;
    margin: 0 auto;
    width: 150px;
  }
}