.user-message {
	margin-bottom: 1rem;

	&__text {
		margin-left: 0.4rem;
		max-width: 300px;

		p {
			background-color: $pale-grey;
			padding: 0.6rem;
			border-radius: 1.2rem 1.2rem 1.2rem 0rem;
			margin: 0;
		}

		span {
			color: $cool-grey;
			font-size: 0.8rem;
			font-weight: 300;
			display: block;
			margin-top: 0.15rem;
		}
	}

	img {
		border-radius: 50%;
		width: 40px;
	}

	&--current {
		justify-content: flex-end;

		.user-message__text {
			margin-right: 0.4rem;
			order: 1;

			p {
				background: $primary-color;
				border-radius: 1.2rem 1.2rem 0rem 1.2rem;
				color: $white;
			}

			span {
				text-align: right;
			}
		}

		img {
			order: 2;
		}
	}
}
