@import "./_lib.scss";

.rc-pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

li.rc-pagination-item,
li.rc-pagination-prev,
li.rc-pagination-next {
  outline: none;
  border: 0;
  margin: 0 .5rem;
}

li.rc-pagination-item-active {
  background-color: $primary-color;
  border-radius: 50%;
}

li.rc-pagination-item {
}