.tasks {
	display: grid;
	grid-gap: 2rem;
	margin-top: 2rem;

	@include breakpoint(large up) {
		grid-template-columns: 380px 1fr;
	}
}

.no-data {
	margin-top: 2.5rem;
}

.tasks-list,
.tasks-content {
	@extend %box-shadow;
	background-color: #fff;
	border-radius: 2px;
	padding: 0.7rem 1.5rem;
}

.tasks-list {
	padding: 0;
	min-height: 300px;

	h5 {
		font-size: 1rem;
		font-weight: 500;
		margin: 1.2rem;
	}

	ul {
		@extend %normalize-list;
	}

	&__item {
		cursor: pointer;
		border-bottom: 1px solid rgba($border-color, 0.2);
		padding: 0.5rem 1rem;

		&:first-child {
			border-top: 1px solid rgba($border-color, 0.2);
		}

		span {
			color: $cool-grey;
			font-size: 0.87rem;
		}

		i {
			font-size: 1.4rem;
			margin-right: 0.4rem;
		}

		.mdi-check-circle {
			color: $primary-color;
		}
	}

	&__item--active {
		border-left: 3px solid $primary-color;

		i {
			margin-left: -3px;
		}
	}
}

.tasks-content {
	min-height: 250px;

	&__text {
		font-weight: 300;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin: 1.5rem 0 1rem;
	}
}
