.messages-prev {
	display: grid;
	grid-gap: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;

	@include breakpoint(large up) {
		grid-template-columns: 400px 1fr;
	}
}

.messages-sidebar,
.messages-main {
	@extend %box-shadow;
	background-color: #fff;
	border-radius: 2px;

	h4 {
		margin: 0;
	}
}

.messages-sidebar {
	&__header {
		background-color: $primary-color;
		padding: 0.8rem 1rem;
		color: $white;
	}

	&__content {
		padding: 1rem 0;

		h5 {
			margin: 0 1.2rem;
			font-weight: 500;
			font-size: 0.95rem;
			padding: 1rem 0;
			border-top: 1px solid rgba($border-color, 0.2);
			border-bottom: 1px solid rgba($border-color, 0.2);
		}
	}

	&__nav {
		padding-bottom: 1rem;

		ul {
			@extend %normalize-list;
		}
	}

	&__nav-item {
		cursor: pointer;
		padding: 0.7rem 1rem;
	}

	&__nav-item-icon {
		background-color: $primary-color;
		color: $white;
		height: 30px;
		border-radius: 50%;
		margin-right: 0.4rem;
		width: 30px;
	}

	&__nav-item--active {
		background-color: rgba($cool-grey, 0.2);
		border-left: 2px solid $primary-color;
	}

	&__teachers {
		margin-top: 0.5rem;
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}

	&__teacher {
		border-bottom: 1px solid rgba($border-color, 0.15);
		padding: 0.7rem 0;

		img {
			border-radius: 50%;
			width: 40px;
		}
	}

	&__teacher-name {
		font-size: 0.9rem;
		margin-left: 0.35rem;

		span {
			font-weight: 300;
			font-size: 0.85rem;
		}
	}
}

.messages-main {
	padding: 1rem 1.5rem;

	h4 {
		padding-bottom: 1.2rem;
	}

	.table {
		margin-top: 0;
	}

	.table__row {
		display: grid;
		grid-template-columns: 1fr repeat(4, 2fr);
	}
}

.messages-table {
}

.messages-write {
	&__header {
		img {
			border-radius: 50%;
			width: 40px;
			margin-right: 0.4rem;
		}

		span {
			color: $cool-grey;
			font-size: 0.9rem;
			font-weight: 300;
		}
	}

	&__form {
		margin-top: 2rem;

		.toolbarClassName {
			margin-bottom: 0;
		}

		.editorClassName {
			min-height: 140px;
			max-width: 727px;
			border: 1px solid rgba($border-color, 0.2);
			padding: 0 1rem 0.5rem;
		}

		.button {
			margin-top: 1.5rem;
		}
	}

	&__form-button {
		text-align: center;
	}
}
