.selection-activity {
	padding: 1rem 1.5rem;

	> h5 {
		margin-top: 0;
		font-weight: 500;
		font-size: 1rem;
	}

	&__title {
		font-size: 1.05rem;
	}

	&__answers-list {
		margin-top: 1.2rem;
	}

	&__buttons {
		text-align: right;
		margin-top: 1.5rem;
	}

	.button:first-child {
		margin-right: 0.5rem;
	}
}
