.searcher {
  position: relative;

  .mdi-magnify {
    color: $cool-grey;
    font-size: 1.05rem;
    position: absolute;
    top: .62rem;
    left: .6rem;
  }

  .searcher-select {
    z-index: 0;
  }

  .searcher-select__indicator-separator,
  .searcher-select__dropdown-indicator {
    display: none;
  }

  .searcher-select__control--is-focused {
    box-shadow: none;
    border-color: $cool-grey;
    z-index: 0;

    &:hover {
      border-color: $border-color;
    }
  }

  .searcher-select__single-value,
  .searcher-select__input {
    z-index: 0;
    color: $grey;
  }

  .searcher-select__control {
    background-color: $white;
    border: 1px solid $border-color;
    padding-left: 1.2rem;
  }

  .searcher-select__option {
    cursor: pointer;
  }

  .searcher-select__option--is-selected {
    background-color: transparent;
    color: inherit;
  }

  .searcher-select__option--is-focused {
    background: rgba($pale-grey-two, .2);
    color: $cool-blue;
  }

  .searcher-select__menu {
    margin-top: 0;
  }

  .searcher-select__placeholder {
    color: $cool-grey;
  }

  .chip {
    position: absolute;
    left: 0;
    right: 0;
    margin: .2rem .15rem;
    top: 0;
    bottom: 0;
  }

  &--chip-open {
    .searcher-select__single-value,
    .searcher-select__placeholder,
    .mdi-magnify {
      display: none;
    }
  }

  &__custom-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: .9rem;
    padding: .55rem .5rem;
    // margin-bottom: .5rem;
    border-bottom: 1px solid rgba($border-color, .2);


    .initials {
      height: 30px;
      font-size: .8rem;
      line-height: 30px;
      width: 30px;
      margin-right: .4rem;
    }
  }

  &__custom-option-name {
    margin-bottom: .15rem;
  }

  &__custom-option-separator {
    opacity: .45;
  }

  &__custom-option-cellphone {
    font-size: .8rem;
  }

  &__custom-option:last-child {
    border: 0;
  }
}
