<section class="section__benefits">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section_title__body">
          <div class="section__subtitle dark__subtitle">
            Somos los únicos que te ofrecemos <span>más.</span>
          </div>
          <h2 class="section__title dark__title">
            Beneficios
          </h2>
          <p class="section_title__desc">
            No encontrarás otra institución que te brinde educación de calidad a tan bajo costo! Tenemos para ti:
          </p> <!-- / .about__desc -->
        </div> <!-- / .section_title__body  -->
      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="feature__item">
          <div class="feature_item__icon">
            <i class="ion-ios-flask-outline"></i>
          </div>
          <!-- <div class="feature_item__title">
            Online courses
          </div> -->
          <div class="feature_item__desc">
            Creamos una exclusiva plataforma educativa diseñada especialmente para el Bachillerato por internet. (Plataforma tipo Facebook, facil de manejar desde celular, tablet, o portatiles).
          </div>
        </div> <!-- / .feature__item -->
      </div>
      <div class="col-sm-4">
        <div class="feature__item">
          <div class="feature_item__icon">
            <i class="ion-ios-chatboxes-outline"></i>
          </div>
          <div class="feature_item__desc">
            Asesores disponibles con CHAT en vivo todos los dias en horario de oficina.
          </div>
        </div> <!-- / .feature__item -->
      </div>
      <div class="col-sm-4">
        <div class="feature__item">
          <div class="feature_item__icon">
            <i class="ion-ios-videocam-outline"></i>
          </div>
          <div class="feature_item__desc">
            Más de 100 videos exclusivos de los principales temas de las materias, y 300 actividades didacticas multimedia.
          </div>
        </div> <!-- / .feature__item -->
      </div>
    </div> <!-- / .row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="feature__item">
          <div class="feature_item__icon">
            <i class="ion-ios-checkmark-outline"></i>
          </div>
          <div class="feature_item__desc">
            Nosotros le ofrecemos el servicio para inscribirlo y prepararlo para el Examen de Estado ICFES. 50% de descuento en nuestro curso preicfes VIP para nuestros estudianes. Info: <a href="http://www.preicfesinteractivo.com">www.preicfesinteractivo.com</a>
          </div>
        </div> <!-- / .feature__item -->
      </div>

      <div class="col-sm-4">
        <div class="feature__item">
          <div class="feature_item__icon">
            <i class="ion-ios-time-outline"></i>
          </div>
          <div class="feature_item__desc">
            Maneja tu propio horario y tiempo de estudio en función de tu vida familiar y profesional.
          </div>
        </div> <!-- / .feature__item -->
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>