<section class="section__courses">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section__title light__title">
          ¿Qué grado empiezas?
        </h2>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="courses_item__wrapper">
          <div class="courses__item">
            <div class="card__top">
              <div class="courses__icon courses_icon-1">
                III
              </div>
              <div class="courses__title">
                Sexto y Séptimo (Ciclo III)
              </div>
              <p class="courses__desc">
                Si tienes la primaria aproda o no, debes empezar por este cliclo III que corresponden a los grados Sexto y Séptimo, con temas muy básicos.
              </p>
            </div> <!-- / .card__top -->
          </div> <!-- / .courses__item -->
        </div> <!-- / .courses_item__wrapper -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="courses_item__wrapper">
          <div class="courses__item">
            <div class="card__top">
              <div class="courses__icon courses_icon-2">
                IV
              </div>
              <div class="courses__title">
                Octavo y Noveno (Ciclo IV)
              </div>
              <p class="courses__desc">
                Para los estudiantes que tengan aprobado hasta septimo grado, empiezan a realizar Ciclo IV que corresponden a los grados Octavo y Noveno.
              </p>
            </div> <!-- / .card__top -->
          </div> <!-- / .courses__item -->
        </div> <!-- / .courses_item__wrapper -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="courses_item__wrapper">
          <div class="courses__item">
            <div class="card__top">
              <div class="courses__icon courses_icon-3">
                V
              </div>
              <div class="courses__title">
                Décimo <br/> (Ciclo V)
              </div>
              <p class="courses__desc">
                Si tienes aprobado hasta noveno grado, empieza a realizar ciclo V o Grado Décimo de bachillerato, te guiaremos paso a paso con las nuevas materias.
              </p>
            </div> <!-- / .card__top -->
          </div> <!-- / .courses__item -->
        </div> <!-- / .courses_item__wrapper -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="courses_item__wrapper">
          <div class="courses__item">
            <div class="card__top">
              <div class="courses__icon courses_icon-4">
                VI
              </div>
              <div class="courses__title">
                Undécimo <br/> (Ciclo VI)
              </div>
              <p class="courses__desc">
                Para los estudiantes que solo les falta el grado Undécimo realizarán el ciclo VI recibirán en muy corto tiempo su título de Bachiller.
              </p>
            </div> <!-- / .card__top -->
          </div> <!-- / .courses__item -->
        </div> <!-- / .courses_item__wrapper -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section> <!-- .section__courses -->