<section class="section__home" id="section__home">
  <div class="container">
    <div class="home__body">
        <div class="row">
          <div class="home__content col-sm-12 col-md-7">
            <!-- Title -->
            <h3 class="home__title" data-aos="zoom-in" data-aos-delay="1800">
              Somos la plataforma #1 para tu estudio en casa
            </h3>

            <!-- Heading -->
            <h1 class="home__heading" data-aos="zoom-in" data-aos-delay="1800">
              MATRICULA <span>GRATIS.</span>
            </h1>

            <!-- Info -->
            <p class="home__info" data-aos="fade-up" data-aos-delay="2800">
              Aprovecha esta oportunidad de obtener tu título de bachiller 100% garantizado y aprobado por la secretaría de educación. Llena los datos, prueba nuestra plataforma y te llamarémos para más información.
            </p>

            <!-- Button -->
            <!-- <div class="home__btn" data-aos="fade-up" data-aos-delay="2800">
              <a href="#section__about" class="btn btn-primary">
                Learn more
              </a>
            </div> -->
          </div> <!-- / .home__content -->

          <div class="col-sm-12 col-md-5">
            <div class="row">
              <div class="col-sm-12">
                <div class="body-signup__form">
                  <!-- Sign In form -->
                  <div class="profile__sign-up">
                    <form class="signup__form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                      {% csrf_token %}
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Nombres</label>
                          <input type="text" name="first_name" class="form-control" placeholder="Nombres" required>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Apellidos</label>
                          <input type="text" name="last_name" class="form-control" placeholder="Apellidos" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Tipo de documento</label>
                          <select name="identity_type" class="form-control" placeholder="Tipo de documento" required>
                            <option value="">Tipo de documento</option>
                            <option value="TI">Tarjeta de Identidad</option>
                            <option value="CC">Cédula de Ciudadanía</option>
                          </select>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Número de documento</label>
                          <input type="text" name="identity" class="form-control" placeholder="Número de documento" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Celular</label>
                          <input type="number" name="cellphone" class="form-control" placeholder="Celular" required>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Grado Aprobado</label>
                          <select name="last_approved_grade" class="form-control" placeholder="Grado aprobado" required>
                              <option value="">Grado aprobado</option>
                              <option value="sixth">Sexto</option>
                              <option value="seventh">Séptimo</option>
                              <option value="eighth">Octavo</option>
                              <option value="ninth">Noveno</option>
                              <option value="tenth">Décimo</option>
                              <option value="eleven">Undécimo</option>
                              <option value="middle">Medio</option>
                              <option value="basic">Basico</option>
                              <option value="incomplete-elementary">Incomplete Elementary</option>
                              <option value="complete-elementary">Complete Elementary</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Email</label>
                          <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Fecha de nacimiento</label>
                          <input type="text" name="birthdate" class="form-control" placeholder="Fecha de nacimiento" data-toggle="datepicker" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Contraseña</label>
                          <input type="password" name="password1" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="sr-only">Contraseña</label>
                          <input type="password" name="password2" class="form-control" placeholder="Repetir Contraseña" required>
                        </div>
                      </div>

                      {{ form.errors }}

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" required> Acepto los <a href="#">Términos de servicio</a> y <a href="#">Políticas de privacidad</a>
                        </label>
                      </div><p>
                      <button type="submit" class="btn btn-block btn-primary">
                        Registrarme
                      </button>

                      {% include "components/social.html" %}
                    </form>
                    <!-- <hr>
                    <p>
                      Tienes una cuenta? <a href="#signinModal">Ingresa</a>
                    </p> -->

                  </div> <!-- / .profile__sign-up -->
                </div> <!-- / .body-signup__form -->
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
    </div>
  </div> <!-- / .container -->

  <!-- Background image -->
  <div class="home-parallax__bg" style="transform: translateY(0px);"></div>
</section> <!-- .section__home -->