<section class="section__method">
  <div class="container">
    <div class="row row_centered">
      <div class="col-sm-6">
        <div class="about__wrapper">
          <div class="section__subtitle">
            Una metodología que <span>funciona.</span>
          </div>
          <div class="about__title">
            <i class="ion-play"></i> ¿Por qué somos la mejor opción?
          </div>
          <div class="about__text">
            El estudio virtual es el método que más ahorro le brinda al estudiante o acudiente encargado, no se necesita de uniformes, costosos libros o transporte, todo lo hace desde una computadora, tablet ó celular con acceso a internet. <span class="active">Mira el video!</span>
          </div>
          <!-- <div class="about__text">
            Eveniet quaerat temporibus earum quam quisquam, nihil iusto ab dolores culpa ducimus laborum, porro quis hic quia! Deserunt mollitia suscipit deleniti accusamus maiores. Voluptatum animi illo perspiciatis libero nihil iste tenetur.
          </div>	 -->
        </div> <!-- / .about__wrapper -->
      </div>
      <div class="col-sm-6">
        <div class="about__wrapper">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mOFigoVhRlI?rel=0&controls=0&showinfo=0" allowfullscreen></iframe>
          </div>
        </div> <!-- / .about__wrapper -->
      </div>
    </div> <!-- / .row -->
  </div>
</section>