<section class="section__partners">
  <div class="container">
    <h2>CON EL APOYO DE:</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="partner__img">
          <img src="{{static}}/static/landing/img/logo_1.png" class="img-responsive" alt="...">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="partner__img">
          <img src="{{static}}/static/landing/img/logo_2.png" class="img-responsive" alt="...">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="partner__img">
          <img src="{{static}}/static/landing/img/logo_3.png" class="img-responsive" alt="...">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="partner__img">
            <img src="{{static}}/static/landing/img/logo_4.png" class="img-responsive" alt="...">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="partner__img">
            <img src="{{static}}/static/landing/img/logo_5.png" class="img-responsive" alt="...">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="partner__img">
            <img src="{{static}}/static/landing/img/logo_6.png" class="img-responsive" alt="...">
          </div>
        </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section> <!-- .section__footer -->