<section class="section__pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section__subtitle dark__subtitle">
          Descripción de las <span>opciones</span> del programa.
        </div>
        <h2 class="section__title dark__title">
          PLANES Y PRECIOS
        </h2>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-4">
        <div class="price__item price__item-1">
          <p class="card__nbr">01.</p>
          <div class="price_item__title">
            Mensual
          </div>
          <ul class="price_item__features">
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>4</strong> módulos</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>1</strong> materia</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>videos</strong> explicativos</li>
            <li class="feature__none"><i class="ion-close-round"></i> Ahorras <strong>$0</strong></li>
          </ul>
          <div class="price_item__price">
            $90<span> MIL</span>
          </div>
          <a data-modal="#buyModal" data-link="https://biz.payulatam.com/B0b314fB106C761" class="btn btn-primary">Comprar</a>
        </div> <!-- / .price__item -->
      </div>
      <div class="col-sm-4">
        <div class="price__item price__item-2">
          <div class="price__item-outstanding">
            <i class="ion-ios-heart"></i>
            MÁS COMPRADO
          </div>
          <p class="card__nbr">02.</p>
          <div class="price_item__title">
            Trimestral
          </div>
          <ul class="price_item__features">
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>12</strong> módulos</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>3</strong> materias</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>videos</strong> explicativos</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Ahorras <strong>$27.000</strong></li>
          </ul>
          <div class="price_item__price">
            $243<span> MIL</span>
          </div>
          <a data-modal="#buyModal" data-link="https://biz.payulatam.com/L0b314fA7560DB3" class="btn btn-primary">Comprar</a>
        </div> <!-- / .price__item -->
      </div>
      <div class="col-sm-4">
        <div class="price__item price__item-3">
          <p class="card__nbr">03.</p>
          <div class="price_item__title">
            Semestral
          </div>
          <ul class="price_item__features">
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>24</strong> módulos</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>6</strong> materias</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Acceso a <strong>videos</strong> explicativos</li>
            <li class="feature__include"><i class="ion-checkmark-round"></i> Ahorras <strong>$81.000</strong></li>
          </ul>
          <div class="price_item__price">
            $459<span> MIL</span>
          </div>
          <a data-modal="#buyModal" data-link="https://biz.payulatam.com/L0b314f3845E413" class="btn btn-primary">Comprar</a>
        </div> <!-- / .price__item -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section> <!-- .section__footer -->