<section class="section__process">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section_title__body">
          <div class="section__subtitle dark__subtitle">
            Empieza <span>Hoy mismo</span>
          </div>
          <h2 class="section__title dark__title">
            Proceso de estudio
          </h2>
          <p class="section_title__desc">
            El proceso para iniciar es muy sencillo, en solo 3 pasos podrás obtener tu título de bachiller fácil y rápido.
          </p> <!-- / .about__desc -->
        </div> <!-- / .section_title__body  -->
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-7">
        <div class="process__item process__item-1">
          <div class="row">
            <div class="col-sm-3">
              <div class="process_item__icon">
                <i class="ion-log-in"></i>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="process_item__title" data-aos="zoom-in-up">
                Regístrate <span>Gratis.</span>
              </div>
              <div class="process_item__desc">
                Empieza llenando el formulario de registro y en unos minutos un asesor te contactará.
              </div>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .process__item -->
      </div>
      <div class="col-sm-5 hidden-xs">
        <div class="process_item__arrow-1">
          <i class="ion-ios-redo-outline"></i>
        </div>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-6 hidden-xs">
        <div class="process_item__arrow-2">
          <i class="ion-ios-undo-outline"></i>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="process__item process__item-2">
          <div class="row">
            <div class="col-sm-3">
              <div class="process_item__icon">
                <i class="ion-compose"></i>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="process_item__title" data-aos="zoom-in-up">
                Desarrolla las materias
              </div>
              <div class="process_item__desc">
                Estudia y completa las actividades y exámenes de cada materia de tu grado, contamos con profesores altamente calificados.
              </div>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .process__item -->
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-7">
        <div class="process__item process__item-3">
          <div class="row">
            <div class="col-sm-3">
              <div class="process_item__icon">
                <i class="ion-university"></i>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="process_item__title" data-aos="zoom-in-up">
                Enviamos tu diploma
              </div>
              <div class="process_item__desc">
                Una vez termines las materias en el tiempo estipulado, podrás asistir a la ceremonia de grado o te enviamos tu diploma físico por correo certificado.
              </div>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .process__item -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>