<section class="section__stats">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="stat__item">
          <div class="stats_item__icon">
            <i class="ion-person-stalker" aria-hidden="true"></i>
          </div>
          <div class="stats_item__nbr" data-from="0" data-to="2800" data-speed="1000" data-refresh-interval="1">
            0
          </div>
          <div class="stats_item__text">
            ESTUDIANTES REGISTRADOS
          </div>
        </div> <!-- / .stat__item -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="stat__item">
          <div class="stats_item__icon">
            <i class="ion-ios-bookmarks" aria-hidden="true"></i>
          </div>
          <div class="stats_item__nbr" data-from="0" data-to="48" data-speed="1000" data-refresh-interval="1">
            0
          </div>
          <div class="stats_item__text">
            MODULOS DE ESTUDIO
          </div>
        </div> <!-- / .stat__item -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="stat__item">
          <div class="stats_item__icon">
            <i class="ion-university" aria-hidden="true"></i>
          </div>
          <div class="stats_item__nbr" data-from="0" data-to="9800" data-speed="4000" data-refresh-interval="20">
            0
          </div>
          <div class="stats_item__text">
            ESTUDIANTES GRADUADOS
          </div>
        </div> <!-- / .stat__item -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="stat__item">
          <div class="stats_item__icon">
            <i class="ion-ribbon-b" aria-hidden="true"></i>
          </div>
          <div class="stats_item__nbr" data-from="0" data-to="8" data-speed="1000" data-refresh-interval="1">
            0
          </div>
          <div class="stats_item__text">
            8 AÑOS DE EXPERIENCIA
          </div>
        </div> <!-- / .stat__item -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section> <!-- .section__footer -->