<section class="section__teachers">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section_title__body">
          <div class="section__subtitle dark__subtitle">
            Conoce a nuestros mejores <span>Profesionales</span>
          </div>
          <h2 class="section__title dark__title">
            Nuestros profesores
          </h2>
          <p class="section_title__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores a atque, esse delectus. Vel quas voluptate atque natus laboriosam, vero molestiae repudiandae eaque veniam repellendus nemo unde suscipit ducimus tenetur.
          </p> <!-- / .section_title__desc -->
        </div> <!-- / .section_title__body  -->
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="teacher__item">
          <div class="teacher__info">
            <div class="teacher__name">
              George Dust
            </div>
            <div class="teacher__prof">
              Psychology / Professor
            </div>
          </div> <!-- / .teacher__info -->
          <div class="teacher__img">
            <img src="{{static}}/static/landing/img/teacher.jpg" class="img-responsive" alt="...">
          </div>
          <div class="teacher_item__overlay">
            <p class="overlay__desc">
              Lorem ipsum dolor sitamet consectetur adipisicing elit. Ducimus expedita atque alias aperiam repudiandae verorepellat saepe eligendi. Obcaecati tempora emque.
            </p>
            <ul class="overlay__social">
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-skype"></i></a></li>
              <li><a href="#"><i class="ion-social-whatsapp-outline"></i></a></li>
            </ul>
            <a href="#" class="btn btn-accent">More info</a>
          </div> <!-- / .teacher_item__overlay -->
        </div> <!-- / .teacher__item -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="teacher__item">
          <div class="teacher__info">
            <div class="teacher__name">
              Mellisa Doe
            </div>
            <div class="teacher__prof">
              Economic / Professor
            </div>
          </div> <!-- / .teacher__info -->
          <div class="teacher__img">
            <img src="{{static}}/static/landing/img/teacher.jpg" class="img-responsive" alt="...">
          </div>
          <div class="teacher_item__overlay">
            <p class="overlay__desc">
              Lorem ipsum dolor sitamet consectetur adipisicing elit. Ducimus expedita atque alias aperiam repudiandae verorepellat saepe eligendi. Obcaecati tempora emque.
            </p>
            <ul class="overlay__social">
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-skype"></i></a></li>
              <li><a href="#"><i class="ion-social-whatsapp-outline"></i></a></li>
            </ul>
            <a href="#" class="btn btn-accent">More info</a>
          </div> <!-- / .teacher_item__overlay -->
        </div> <!-- / .teacher__item -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="teacher__item">
          <div class="teacher__info">
            <div class="teacher__name">
              John Carter
            </div>
            <div class="teacher__prof">
              Phisics / Ph.D
            </div>
          </div> <!-- / .teacher__info -->
          <div class="teacher__img">
            <img src="{{static}}/static/landing/img/teacher.jpg" class="img-responsive" alt="...">
          </div>
          <div class="teacher_item__overlay">
            <p class="overlay__desc">
              Lorem ipsum dolor sitamet consectetur adipisicing elit. Ducimus expedita atque alias aperiam repudiandae verorepellat saepe eligendi. Obcaecati tempora emque.
            </p>
            <ul class="overlay__social">
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-skype"></i></a></li>
              <li><a href="#"><i class="ion-social-whatsapp-outline"></i></a></li>
            </ul>
            <a href="#" class="btn btn-accent">More info</a>
          </div> <!-- / .teacher_item__overlay -->
        </div> <!-- / .teacher__item -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="teacher__item">
          <div class="teacher__info">
            <div class="teacher__name">
              Ellison Johnson
            </div>
            <div class="teacher__prof">
              History / Assistant professor
            </div>
          </div> <!-- / .teacher__info -->
          <div class="teacher__img">
            <img src="{{static}}/static/landing/img/teacher.jpg" class="img-responsive" alt="...">
          </div>
          <div class="teacher_item__overlay">
            <p class="overlay__desc">
              Lorem ipsum dolor sitamet consectetur adipisicing elit. Ducimus expedita atque alias aperiam repudiandae verorepellat saepe eligendi. Obcaecati tempora emque.
            </p>
            <ul class="overlay__social">
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-skype"></i></a></li>
              <li><a href="#"><i class="ion-social-whatsapp-outline"></i></a></li>
            </ul>
            <a href="#" class="btn btn-accent">More info</a>
          </div> <!-- / .teacher_item__overlay -->
        </div> <!-- / .teacher__item -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section> <!-- .section__footer -->