<section class="section__testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section__subtitle light__subtitle">
            Nuestros estudiantes acerca de <span>Bachillerato.</span>
          </div>
          <h2 class="section__title light__title">
            Testimonios
          </h2>
      </div>
    </div> <!-- / .row -->
    <!-- testimonials carousel -->
    <div class="row">
      <div class="col-xs-12">
        <div class="testimonials__icon">
          <i class="ion-quote" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="testimonials__carousel" class="owl-carousel owl-theme">
          <div class="testimonials_item__video">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ImUjobVFm64?rel=0&controls=0&showinfo=0" allowfullscreen></iframe>
          </div>
          <div class="testimonials_item__video">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r_faTj5h-jU?rel=0&controls=0&showinfo=0" allowfullscreen></iframe>
          </div>
          <div class="testimonials_item__video">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5JfwUKtxb3I?rel=0&controls=0&showinfo=0" allowfullscreen></iframe>
          </div>
          <div class="testimonials_item__video">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x-5T75E8Skk?rel=0&controls=0&showinfo=0" allowfullscreen></iframe>
          </div>

          <!-- <div class="testimonials__item">
              <div class="testimonials_item__title">
                In <span>LCTRS</span> I found the best courses.
              </div>
            <div class="testimonials_item__text">
              A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing.
            </div>
            <div class="testimonials_item__author">
              <span>Eric Bronson</span> - Bachelor
            </div>
          </div> / .testimonials__item -->
        </div> <!-- / .owl-carousel -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section> <!-- .section__footer -->