.dictation {
	padding: 1.2rem 1rem;

	p {
		line-height: 1.25rem;
		margin: 0;
	}

	.react-audio-player {
		margin: 1.2rem 0;
		width: 100%;
	}

	&__diff {
		font-size: 0.95rem;
		display: grid;
		grid-column-gap: 1.5rem;
		grid-template-columns: 1fr 1fr;

		> div {
			font-size: 0.9rem;
			font-weight: 300;

			h5 {
				font-size: 0.9rem;
				margin: 0 0 0.25rem;
			}
		}

		> div:first-child {
			div {
				color: $green;
			}
		}
	}

	&__diff--wrong {
		color: $red;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 2rem;

		.button {
			margin-left: 0.5rem;
		}
	}
}
