<!-- BUY MODAL
================================================== -->

<div class="modal fade" id="buyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Metodos de pago</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="modal-body__payu">
              <h4>1. Payu:</h4>
              <img src="{{static}}/static/landing/img/payu.png" alt="">
              <p>
                <a class="btn btn-primary">PAGAR AHORA</a>
              </p>
            </div>
          </div>          
          
          <div class="col-sm-12">
            <hr>            
          </div>

          <div class="col-sm-12">
            <div class="modal-body__bank">
              <h4>2. Bancolombia:</h4>
              <img src="{{static}}/static/landing/img/bancolombia.png" alt="">
              <p>A nombre de: <strong>Instituto Virtual Ne ed SAS.</strong></p>
              <p>Cuenta de ahorros: <strong>09095343683.</strong></p>
              <p>
                Puede realizar su transferencia por la APP de Bancolombia, GNB redes, Transferencia electrónica o consignación Bancaria. Enviar pantallazo o copia al whatsapp: 3503165626 o email: informacion@bachilleratodesdecasa.com
              </p>
            </div>
          </div>        
        </div> <!-- / .row -->
      </div> <!-- / .modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->