<footer class="section__footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="footer_title__body">
          <h2 class="footer__title">
            LCTRS<span>.</span>
          </h2>
          <div class="footer__subtitle">
            Education template
          </div>
          <ul class="footer__social">
            <li><a href="https://twitter.com/InstitutoNeed" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/InstitutovirtualNEED/" target="_blank"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCg2aef6Zuy55C0haA5Uxp0Q" target="_blank"><i class="ion-social-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/institutovirtualneed/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
            <li>
              <div class="footer__social-whatsapp">
                <img src="{{static}}/static/landing/img/whatsapp_icon.png" alt="">
                <p>
                  Si quieres atención personalizada vía whatsapp haz click 
                  <a href="https://api.whatsapp.com/send?phone=573503165626&text=Hola&nbsp;me&nbsp;gustar&iacute;a&nbsp;obtener&nbsp;informaci&oacute;n&nbsp;del&nbsp;bachillerato&nbsp;virtual" target="_blank">aquí</a>
                </p>
              </div>
              <!-- <a href=""><i class="ion-social-whatsapp-outline"></i></a> -->
            </li>
          </ul>
        </div> <!-- / .footer_title__body -->
      </div>
      <div class="col-md-3 col-sm-4">
        <ul class="footer-links__list">
          <li><a href="/faqs"><i class="ion-ios-arrow-forward"></i> Soporte / FAQ</a></li>
          <li><a href="courses.html"><i class="ion-ios-arrow-forward"></i> Términos & Condiciones</a></li>
          <li><a href="blog.html"><i class="ion-ios-arrow-forward"></i> Politicas de privacidad</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="newsletter__body">
          <p class="newsletter__subtitle">
            <i class="ion-ios-telephone"></i>
            PBX:
          </p>

          <ul class="footer__pbx">
            <li>Bogotá:    3904090</li>
            <li>Medellin:    6046436</li>
            <li>Cali:    4850484</li>
            <li>Cartagena:    6930549</li>
            <li>Cucuta:    5956475</li>
            <li>Ibague:    2770112</li>
            <li>Bucaramanga    6973928</li>
            <li>Pasto:    7382088</li>
            <li>Tunja:    7474674</li>
            <li>Villavicencio:  6740636</li>
          </ul>
        </div> <!-- / .newsletter__body -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer> <!-- .section__footer -->

<!-- section footer copyright -->
<div class="footer__copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
        <ul class="quick__links">
          <li>| <a href="index.html">Home</a> |</li>
          <li><a href="blog-grid.html">Blog</a> |</li>
          <li><a href="/contacto">Contáctanos</a> |</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-6 col-md-pull-6">
        <div class="copyright__content">
          <p>BACHILLERATO. &#169; Todos los derechos reservados 2018.</p>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .footer__copyright -->