<!-- Navbar
================================================== -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Header -->
    <div class="navbar-header">
      <!-- Collapse toggle -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Logo -->
      <a class="navbar-brand" href="index.html">
        <div class="navbar-logo">
          <img src="/static/landing/img/logo.png" alt="">
        </div>
      </a>

    </div> <!-- / .navbar-header -->

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbar__collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="/contacto">Contáctanos</a></li>
        <li><a href="/blog">Blog</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <i class="ion-android-arrow-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="courses.html">Courses page</a></li>
            <li><a href="course-single.html">Single course</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-primary" href="/accounts/login" data-toggle="modal"><i class="ion-log-in"></i> Iniciar sesión</a></li>
        <!-- <li><a href="#signinModal" data-toggle="modal"><i class="ion-log-in"></i> Iniciar sesión</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>