<div class="signin__alt">
  <p>ó ingresar con redes sociales</p>

  <ul class="signin__social">
    <li class="twitter">
      <a href="/accounts/twitter/login/?process=login">
        <i class="ion-social-twitter"></i>
      </a>
    </li>
    <li class="facebook">
      <a href="/accounts/facebook/login/?process=login">
        <i class="ion-social-facebook"></i>
      </a>
    </li>
    <li class="googleplus">
      <a href="/accounts/google/login/?process=login">
        <i class="ion-social-googleplus"></i>
      </a>
    </li>
  </ul>
</div>