.loading-circles {
	svg {
		height: 25px;
	}
}

$spinner-primary-color: $white;
$spinner-secondary-color: transparent;

.spinner {
	border: 2px solid $spinner-primary-color;
	border-left-color: $spinner-secondary-color;
	border-bottom-color: $spinner-secondary-color;
	width: 20px;
	margin: 0 auto;
	height: 20px;
	border-radius: 50%;
	animation: spinner--infinite 0.8s linear infinite;
}

@keyframes spinner--infinite {
	to {
		transform: rotateZ(360deg);
	}
}

$width: 50px;

.loading {
	&__showbox {
		position: fixed;
		top: 250px;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5%;
	}

	&__loader {
		position: relative;
		margin: 0 auto;
		width: $width;
		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	&__circular {
		animation: rotate 2s linear infinite;
		height: 100%;
		transform-origin: center center;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	&__path {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
		animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
		stroke-linecap: round;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
	0% {
		stroke: $primary-color;
	}
	40% {
		stroke: $primary-color;
	}
	66% {
		stroke: $primary-color;
	}
	80%,
	90% {
		stroke: $primary-color;
	}
}
