.user-row {
	border-bottom: 1px solid rgba($border-color, 0.2);
	cursor: pointer;
	padding: 0.8rem 0;
	position: relative;

	&:hover {
		background-color: rgba($pale-grey, 0.75);
	}

	&__avatar {
		margin: 0 0.5rem 0 1rem;

		img {
			border-radius: 50%;
			width: 45px;
		}
	}

	&__answer {
		margin: 0.2rem 0 0;
		font-size: 0.9rem;
		font-weight: 300;
	}

	&__date {
		font-size: 0.8rem;
		color: $cool-grey;
		font-weight: 300;
		position: absolute;
		top: 0.8rem;
		right: 1.3rem;
	}

	&--search {
		border-bottom: 0;
		padding: 0.5rem 0;

		.user-row__answer {
			display: none;
		}

		.user-row__date {
			display: none;
		}

		.user-row__avatar {
			img {
				width: 35px;
			}
		}
	}
}
