.input-field {
  position: relative;
  margin-bottom: 1rem;

  &__label {
    @extend %label-style;
  }

  &--error {
    input {
      border-color: $red !important;
    }
  }

  &__error {
    color: $red;
    font-size: .85rem;
    margin-top: .2rem;
  }
}

.input-style {
  @include placeholder-color(rgba($cool-grey, .75));
  border: 1px solid $border-color;
  border-radius: 3px;
  color: $grey;
  padding: .5rem .7rem;
  outline: none;
  width: 100%;
}


@import "./TextField/index";
@import "./TextAreaField/index";
@import "./SelectField/index";
@import "./DateField/index";
